<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="all" type="text/css" href="app.css" />
<link rel="stylesheet" media="all" type="text/css" href="layout.css" />
</head>
<body>

    <div class="header">
        <p th:text="${pageTitle}">仁聚融资租赁</p>
    </div>

    <div class="footer" >
        <p>Page <span id="pagenumber"></span> of <span id="pagecount"></span></p>
    </div>

	<div class="content" th:text="${pageContent}"></div>

</body>
</html>