
<div class="bg-light lter b-b wrapper">
  <h1 class="m-n font-thin h3">Charts展示</h1>
</div>

<div class="wrapper" ng-controller="ChartsController">

   <div class="row">
       <div class="col-lg-12">
           <div class="panel panel-primary">
               <div class="panel-heading">
                   <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Line Graph Demo</h3>
               </div>
               <div class="panel-body">
					<e-line id="line" legend="legend" item="item" data="data"></e-line>
               </div>
           </div>
       </div>
   </div>


   <div class="row">
       <div class="col-lg-12">
           <div class="panel panel-primary">
               <div class="panel-heading">
                   <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Bar Graph Demo</h3>
               </div>
               <div class="panel-body">
					<e-bar id="bar" legend="legend" item="item" data="data"></e-bar>
               </div>
           </div>
       </div>
   </div>
   
   <div class="row">
       <div class="col-lg-12">
           <div class="panel panel-primary">
               <div class="panel-heading">
                   <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Scatter Graph Demo</h3>
               </div>
               <div class="panel-body">
					<e-scatter id="scatter" legend="legend" item="item" data="data"></e-scatter>
               </div>
           </div>
       </div>
   </div>

</div>
