<div class="bg-light lter b-b wrapper">
  <h1 class="m-n font-thin h3">编码管理</h1>
</div>

<div class="wrapper" ng-controller="CodeRuleController">
	<div class="row">
		<div class="col col-md-12">
        <form name="form" class="form-validation">
          <div class="panel panel-default">
            <div class="panel-body bg-light" style="padding:5px;padding-left:0px;">
                   <div class="col-sm-2">
	               <label>NO：</label> 
	               <input type="text" class="form-control"  ng-model="searcher.id" >
	             </div>
	             <div class="col-md-1">
	               <label>&nbsp;</label> 
                   <button class="btn btn-primary form-control" ng-disabled="form.$invalid" ng-click="search()">检   索</button>
                 </div>
                 <div class="col-md-1 col-md-offset-7 pull-left">
	               <label>&nbsp;</label> 
                   <button has-permission="CODE_RULE_CREATE" class="btn btn-success form-control" ng-click="create()">新  建</button>
                 </div>
            </div>
          </div>
        </form>
		</div>
	</div>


	<div class="row">
	  <div class="col col-md-12">
      <!-- <div class="panel panel-default"> -->

	  <table  class="bg-white table table-striped left-table-header" ng-table="tableParamsCodeRule" show-filter="false">
          <thead ng-if="$data.length>0" class="bg-info">
            <tr>
			  <th>序号</th>
			  <th>表达式</th>
              <th>类型</th>
			  <th>流水号</th>
			  <th>每年重置</th>
			  <th>流水线长度</th>
			  <th has-any-permission="['CODE_RULE_VIEW','CODE_RULE_EDIT']">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="codeRule in $data">
            <td>{{codeRule.id}}</td>
			  <td>{{codeRule.expression}}</td>
              <td>{{codeRule.type}}</td>
			  <td>{{codeRule.serial}}</td>
			  <td>{{codeRule.resetType}}</td>
			  <td>{{codeRule.serialLength}}</td>
			
			  <td has-any-permission="['CODE_RULE_VIEW','CODE_RULE_EDIT']">
			      <a has-permission="CODE_RULE_VIEW" ng-click="view({{codeRule}})">查看</a> &nbsp; 
			      <a has-permission="CODE_RULE_EDIT" ng-click="logicalDel({{codeRule}})">修改</a>
			 </td>
            </tr>
          </tbody>
        </table>
      <!-- </div> -->
    </div>


</div>