<div class="bg-light lter b-b wrapper">
  <h1 class="m-n font-thin h3">编码管理</h1>
</div>
<div class="wrapper" ng-controller="CodeRuleController">
	<div class="row">
		<div class="col col-md-12">
		
        <div class="alert ng-isolate-scope alert-success alert-dismissable">
              <span class="ng-binding ng-scope">编码格式：{客户类型}{业务类型}{项目类型}{省份简称}{年份}{月份}{流水号}{融资租赁合同编号}{项目编号}{出卖方代码}</span>
        </div>

<!-- 	</div> -->

<!--   <div class="row"> -->
	<form name="form" class="form-validation">
          <div class="panel panel-default">
            <div class="panel-body bg-light" style="padding:5px;padding-left:0px;">
                 <div class="col-md-offset-4 pull-right">
	               <label>&nbsp;</label> 
                  <button has-permission="CODE_RULE_CREATE"  class="btn btn-success" ng-disabled="form.$invalid" ng-click="create()"><i class="fa fa-plus"></i> 新  建</button> 
                 </div>
            </div>
          </div>
        </form>
</div>
</div>
	
  <div class="row">

    <div class="col col-md-12">
     
          <table class="bg-white table table-striped left-table-header" ng-table="tableParamsCodeRule" show-filter="false">
            <thead  ng-if="$data.length>0" class="bg-info">
              <tr>
                <th>序号</th>
                <th>表达式</th>
                <th>类型</th>

                <th>流水号</th>
                <th>每年重置</th>
                <th>流水号长度</th>
                <th>创建者</th>
                		
                <th has-any-permission="['CODE_RULE_VIEW','CODE_RULE_EDIT']">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="codeRule in $data">
                <td>{{$index + 1}}</td>
                 <td>{{codeRule.expression}}</td>
<!--                 <td>{{codeRule.type}}</td> -->
                 <td>{{types[codeRule.type]}}</td>
<!--                  <td>融资租赁</td> -->

               <td>{{codeRule.serial}}</td>
<!-- 			  <td>{{codeRule.resetType}}</td> -->
			 <td>{{resetType[codeRule.resetType]}}</td>
			  <td>{{codeRule.serialLength}}</td>
			  <td>{{userNames[codeRule.creator]}}</td>
			    
                <td has-any-permission="['CODE_RULE_VIEW','CODE_RULE_EDIT']">
                    <a style="color:#0099FF" has-permission="CODE_RULE_VIEW" ng-click="view({{codeRule}})">查看</a>&nbsp; 
                    <a style="color:#0099FF" has-permission="CODE_RULE_EDIT" ng-click="edit({{codeRule}})">修改</a></td>
              </tr>
            </tbody>
          </table>
        </div>
   
      </div>
