<div ng-controller="editCompanyController">
	<div class="bg-light lter b-b wrapper">
		<h1 class="m-n font-thin h3">{{title}}</h1>
	</div>
	<div class="modal-body ">
		<form name="form" class="form-validation" novalidate ng-enter="">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="h4">公司信息</span>
				</div>
				<div class="panel-body">
					<div class="form-group pull-in clearfix">
						<div class="col-sm-4">
							<label>公司级别<span style="color: red;"> *</span>：
							</label> <span class="error-info"
								ng-if="(form.level.$dirty || submitTried)&& form.level.$invalid ">
								<span ng-if="form.level.$error.required">必须</span>
							</span>
							<div>
								<label class="i-checks i-checks-sm"> <input type="radio"
									ng-model="company.level" value="1"
									ng-change="companyLevelChange()" ng-disabled="eidtMode"
									required name="level"> <i></i> 总公司
								</label> <label class="i-checks i-checks-sm"> <input
									type="radio" ng-model="company.level" value="0"
									ng-disabled="eidtMode"> <i></i> 分公司
								</label>
							</div>
						</div>
						<!-- <div class="col-sm-4">
							<label>所属公司<span style="color: red;"> *</span>：
							</label> <span class="error-info"
								ng-if="(form.parentId.$dirty|| submitTried) && form.parentId.$invalid ">
								<span ng-if="form.parentId.$error.required">必须</span>
							</span> <select class="form-control" ng-model="company.parentId"
								ng-disabled="company.level==1"
								ng-options="opt.id as opt.name for opt in parentIds" name="parentId" ng-required="company.level==0">
							</select>
						</div> -->
						<div class="col-sm-4">
						  <label>所属公司<span style="color: red;"> *</span>：</label>
						  <span class="error-info" ng-if="(form.parentId.$dirty|| submitTried) && form.parentId.$invalid ">
								<span ng-if="form.parentId.$error.required">必须</span>
						</span>
		                   <ui-select ng-model="company.parentId" theme="bootstrap" ng-disabled="company.level==1" 
		                      name="parentId" ng-required="company.level==0"> 
	                         <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
	                           <ui-select-choices  repeat="item.id as item in parentIds | filter: $select.search">
	                             <div ng-bind-html="item.name | highlight: $select.search"></div>
	                             <small ng-bind-html="item.rolecode | highlight: $select.search"></small>
	                         </ui-select-choices>
	                      </ui-select>
	                  </div>
						<div class="col-sm-4">
							<label>单位名称（中文）<span style="color: red;"> *</span>：
							</label> <span class="error-info"
								ng-if="(form.name.$dirty|| submitTried) && form.name.$invalid ">
								<span ng-if="form.name.$error.required">必须</span>
								<span ng-if="form.name.$error.pattern">请输入中文</span>
							</span> <input type="text" class="form-control" ng-model="company.name"
								required name="name" ng-pattern="/^[\u0391-\uFFE5]{1,255}$/">
							<!--                 pattern="^[\u0391-\uFFE5]{2,6}$"   ^[u4e00-u9fa5],{0,}$-->
						</div>
						<div class="col-sm-4">
							<label>单位名称（英文）:</label>
							<span class="error-info" ng-if="(form.englishName.$dirty|| submitTried)&&form.englishName.$invalid">
							<span ng-if="form.englishName.$error.pattern">请输入正确的英文名称</span></span>
							<input type="text" class="form-control"
								ng-model="company.englishName" ng-pattern="/^[A-Za-z\d\().-\s]*$/" name="englishName">
							<!-- ng-pattern="/^[A-Za-z\.-\s]*$/"
									name="englishName" -->
						</div>
						<div class="col-sm-4">
							<label>简称<span style="color: red;"> *</span>：</label> <span
								class="error-info"
								ng-if="(form.shortName.$dirty|| submitTried) && form.shortName.$invalid ">
								<span ng-if="form.shortName.$error.required">必须</span>
								<span ng-if="form.shortName.$error.pattern">输入有误</span>
							</span> <input type="text" class="form-control" ng-pattern="/^[\u0391-\uFFE5\A-Za-z]{1,10}$/"
								ng-model="company.shortName" required name="shortName">
						</div>
						<div class="col-sm-4">
							<label>职工人数：</label> 
						<span class="error-info" ng-if="(form.workerNum.$dirty|| submitTried) && form.workerNum.$invalid ">
								<span ng-if="form.workerNum.$error.pattern">输入有误或超出最大值</span></span>
							<input type="text" class="form-control"    
								ng-model="company.workerNum" ng-pattern="/^([1-9]{1}[0-9]{0,8}?|1000000000)$/" name="workerNum">  
						</div>
						<div class="col-sm-4">
							<label>三证合一<span style="color: red;"> *</span>：
							</label> <span class="error-info"
								ng-if="(form.businessCodeTypes.$dirty|| submitTried) && form.businessCodeTypes.$invalid ">
								<span ng-if="form.businessCodeTypes.$error.required">必须</span>
							</span></label> <select class="form-control" ng-model="company.businessCodeType"
								ng-change="businessCodeTypeChange()"
								ng-options="opt.id as opt.name for opt in businessCodeTypes"
								required name="businessCodeTypes">
								<option></option>
							</select>
						</div>
						<div class="col-sm-4">
							<label>统一社会信用代码<span style="color: red;"> *</span>：
							</label> <span class="error-info"
								ng-if="(form.creditCode.$dirty|| submitTried) && form.creditCode.$invalid ">
								<span ng-if="form.creditCode.$error.required">必须</span>
								<span ng-if="form.creditCode.$error.pattern">请输入18位数字或字母</span>
							</span> <input type="text" class="form-control"
								ng-model="company.creditCode"
								ng-disabled="company.businessCodeType==0" ng-pattern="/^[A-Za-z\d]{18}$/"
								ng-required="company.businessCodeType==1" name="creditCode">
						</div>
						<div class="col-sm-4">
							<label>营业执照注册码<span style="color: red;"> *</span>：
							</label> <span class="error-info"
								ng-if="(form.license.$dirty|| submitTried) && form.license.$invalid ">
								<span ng-if="form.license.$error.required">必须</span>
							</span> <input type="text" class="form-control"
								ng-model="company.license"
								ng-disabled="company.businessCodeType==1"
								ng-required="company.businessCodeType==0" name="license">
						</div>
						<div class="col-sm-4">
							<label>组织机构代码<span style="color: red;"> *</span>：
							</label> <span class="error-info"
								ng-if="(form.orgCode.$dirty|| submitTried) && form.orgCode.$invalid ">
								<span ng-if="form.orgCode.$error.required">必须</span>
							</span> <input type="text" class="form-control"
								ng-model="company.orgCode"
								ng-disabled="company.businessCodeType==1"
								ng-required="company.businessCodeType==0" name="orgCode">
						</div>
						<div class="col-sm-4">
							<label>税务登记号<span style="color: red;"> *</span>：
							</label> <span class="error-info"
								ng-if="(form.taxNum.$dirty|| submitTried) && form.taxNum.$invalid ">
								<span ng-if="form.taxNum.$error.required">必须</span>
								<span ng-if="form.taxNum.$error.minlength">不能少于15位</span>
								<span ng-if="form.taxNum.$error.maxlength">不能超过20位</span>
							</span><input type="text" class="form-control" ng-model="company.taxNum"
								ng-disabled="company.businessCodeType==1" ng-minlength="15" ng-maxlength="20"
								ng-required="company.businessCodeType==0" name="taxNum">
						</div>
						<div class="col-sm-4">
							<label>成立日期：</label>
							<div class="input-group m-d">
								<input type="text" class="form-control"
									datepicker-popup="{{format}}" ng-model="company.foundDate"
									is-open="foundDate" datepicker-options="dateOptions"
									close-text="Close" /> <span class="input-group-btn">
									<button type="button" class="btn btn-default"
										ng-click="openDatepicker($event,1)">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col-sm-4">
							<label>注册资本(万元)<span style="color: red;"> *</span>：
							</label> <span class="error-info"
								ng-if="(form.regCapital.$dirty|| submitTried) && form.regCapital.$invalid ">
								<span ng-if="form.regCapital.$error.required">必须</span>
							 <span ng-if="form.regCapital.$error.pattern">输入有误或超出最大值</span></span> <input
								type="text" class="form-control" ng-model="company.regCapital"
								ng-pattern="/^([1-9]{1}[0-9]{0,8}?|1000000000)$/" required name="regCapital">
						</div>
						<div class="col-sm-4">
							<label>营业期限：</label>
							<div class="input-group m-d">
								<input type="text" class="form-control"
									datepicker-popup="{{format}}" ng-model="company.expireDate"
									is-open="expireDate" datepicker-options="dateOptions"
									close-text="Close" /> <span class="input-group-btn">
									<button type="button" class="btn btn-default"
										ng-click="openDatepicker($event,0)">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col-lg-12">
							<label>经营范围<span style="color: red;"> *</span>：
							</label> <span class="error-info"
								ng-if="(form.scope.$dirty|| submitTried) && form.scope.$invalid ">
								<span ng-if="form.scope.$error.required">必须</span>
							</span>
							<textarea style="resize: none; outline: none;" clos="30" rows="3"
								class="form-control" ng-model="company.scope" required
								name="scope"></textarea>
						</div>
						<div class="col-sm-12">
							<label>公司地址<span style="color: red;"> *</span>：
							</label> <span class="error-info"
								ng-if="(form.address.$dirty|| submitTried) && form.address.$invalid ">
								<span ng-if="form.address.$error.required">必须</span>
							</span> <input type="text" class="form-control"
								ng-model="company.address" required name="address">
						</div>
						<div class="col-sm-4">
							<label>公司传真：</label> <span class="error-info"
								ng-if="(form.fax.$dirty|| submitTried) && form.fax.$invalid ">
								<span ng-if="form.fax.$error.maxlength">超出最大位数</span></span>
								<input type="text" class="form-control" ng-maxlength="20"
								ng-model="company.fax" name = "fax">
						</div>
						<div class="col-sm-4">
							<label>公司邮编：</label><span class="error-info"
								ng-if="(form.postcode.$dirty|| submitTried) && form.postcode.$invalid ">
								<span ng-if="form.postcode.$error.pattern">输入有误</span></span>
								 <input type="text" class="form-control" ng-pattern="/^[0-9]{6}$/"
								ng-model="company.postcode" name="postcode">
						</div>
						<div class="col-sm-4">
							<label>公司电话<span style="color: red;"> *</span>：
							</label> <span class="error-info"
								ng-if="(form.phone.$dirty|| submitTried) && form.phone.$invalid ">
								<span ng-if="form.phone.$error.required">必须</span>
								<span ng-if="form.phone.$error.maxlength">超出最大位数</span>
							</span> <input type="text" class="form-control" ng-maxlength="20"
							ng-model="company.phone" required name="phone">
						</div>
						<div class="col-sm-4">
							<label>企业邮箱：</label> <span class="error-info"
								ng-if="(form.email.$dirty|| submitTried) && form.email.$invalid ">
								<span ng-if="form.email.$error.pattern">请输入正确的格式！</span>
							</span> <input type="text" class="form-control" ng-model="company.email"
								ng-pattern="/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/"
								name="email">
						</div>
						<div class="col-sm-12">
							<label>企业注册地址：</label> <input type="text" class="form-control"
								ng-model="company.regAddress">
						</div>
						<div class="col-lg-12">
							<label>备注：</label>
							<textarea style="resize: none; outline: none;" clos="30" rows="3"
								class="form-control" ng-model="company.remark"></textarea>
						</div>
					</div>
				</div>
			</div>

			<!-- 法人代表信息 -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="h4">法人代表信息</span>
				</div>
				<div class="panel-body">
					<div class="form-group pull-in clearfix">

						<div class="col-sm-4">
							<label>法人代表<span style="color: red;"> *</span>：
							</label> <span class="error-info"
								ng-if="(form.legalName.$dirty|| submitTried) && form.legalName.$invalid ">
								<span ng-if="form.legalName.$error.required">必须</span>
							</span> <input type="text" class="form-control"
								ng-model="company.legalName" required name="legalName">
						</div>
						<div class="col-sm-4">
							<label>法人身份证<span style="color: red;"> *</span>：
							</label> <span class="error-info"
								ng-if="(form.legalId.$dirty|| submitTried) && form.legalId.$invalid ">
								<span ng-if="form.legalId.$error.required">必须</span>
								<span ng-if="form.legalId.$error.pattern">请输入正确的18位身份证号</span>
							</span> <input type="text" class="form-control"
								ng-model="company.legalId" ng-pattern="/^[0-9]{17}.{1}$/" required name="legalId">
						</div>
						<div class="col-sm-4">
							<label>法人办公电话：</label><span class="error-info"
								ng-if="(form.legalPhone.$dirty|| submitTried) && form.legalPhone.$invalid ">
								<span ng-if="form.legalPhone.$error.maxlength">超出最大位数</span></span>
								<input type="text" class="form-control" ng-maxlength="20"
								ng-model="company.legalPhone" name="legalPhone">
						</div>
						<div class="col-sm-4">
							<label>手机号码<span style="color: red;"> *</span>：
							</label> <span class="error-info"
								ng-if="(form.legalMobile.$dirty|| submitTried) && form.legalMobile.$invalid ">
								<span ng-if="form.legalMobile.$error.required">必须</span>
								<span ng-if="form.legalMobile.$error.pattern">请输入正确的11位手机号</span>
							</span> <input type="text" class="form-control"
								ng-model="company.legalMobile" ng-pattern="/^\d{11}$/" required name="legalMobile">
						</div>
						<div class="col-sm-4">
							<label>邮政编码：</label> <span class="error-info"
								ng-if="(form.legalPostcode.$dirty|| submitTried) && form.legalPostcode.$invalid ">
								<span ng-if="form.legalPostcode.$error.pattern">输入有误</span></span>
								 <input type="text" class="form-control" ng-pattern="/^[0-9]{6}$/"
								ng-model="company.legalPostcode" name="legalPostcode">
						</div>
						<div class="col-sm-4">
							<label>法人邮箱：<span class="error-info"
								ng-if="(form.legalEmail.$dirty|| submitTried) && form.legalEmail.$invalid ">
									<span ng-if="form.legalEmail.$error.pattern">请输入正确的格式！</span>
							</span></label> <input type="text" class="form-control"
								ng-model="company.legalEmail"
								ng-pattern="/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/"
								name="legalEmail">
						</div>
						<div class="col-sm-12">
							<label>法人常住地址<span style="color: red;"> *</span>：
							</label> <span class="error-info"
								ng-if="(form.legalAddress.$dirty|| submitTried) && form.legalAddress.$invalid ">
								<span ng-if="form.legalAddress.$error.required">必须</span>
							</span> <input type="text" class="form-control"
								ng-model="company.legalAddress" required name="legalAddress">
						</div>
					</div>
				</div>
			</div>





			<!-- 联系人信息 -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="h4">联系人信息</span>
				</div>
				<div class="panel-body">
					<div class="form-group pull-in clearfix">

						<div class="col-sm-4">
							<label>姓名<span style="color: red;"> *</span>：
							</label> <span class="error-info"
								ng-if="(form.contactName.$dirty|| submitTried) && form.contactName.$invalid ">
								<span ng-if="form.contactName.$error.required">必须</span>
							</span> <input type="text" class="form-control"
								ng-model="company.contactName" required name="contactName">
						</div>
						<div class="col-sm-4">
							<label>身份证<span style="color: red;"> *</span>：
							</label> <span class="error-info"
								ng-if="(form.contactId.$dirty|| submitTried) && form.contactId.$invalid ">
								<span ng-if="form.contactId.$error.required">必须</span>
								<span ng-if="form.contactId.$error.pattern">请输入正确的18位身份证号</span>
							</span> <input type="text" class="form-control"
								ng-model="company.contactId" ng-pattern="/^[0-9]{17}.{1}$/" required name="contactId">
						</div>
						<div class="col-sm-4">
							<label>办公电话：</label>
							<span class="error-info" ng-if="form.contactPhone.$dirty && form.contactPhone.$invalid ">
								<span ng-if="form.contactPhone.$error.maxlength">超出最大位数</span>
							</span>
							 <input type="text" class="form-control" ng-maxlength="20" 
								ng-model="company.contactPhone" name="contactPhone">
						</div>
						<div class="col-sm-4">
							<label>邮政编码：</label>
							<span class="error-info" ng-if="form.contactPostcode.$dirty && form.contactPostcode.$invalid ">
								<span ng-if="form.contactPostcode.$error.pattern">输入有误</span>
							</span>
							 <input type="text" class="form-control" ng-pattern="/^[0-9]{6}$/"
								ng-model="company.contactPostcode" name="contactPostcode">
						</div>
						<div class="col-sm-4">
							<label>手机号码<span style="color: red;"> *</span>：
							</label> <span class="error-info"
								ng-if="(form.contactMobile.$dirty|| submitTried) && form.contactMobile.$invalid ">
								<span ng-if="form.contactMobile.$error.required">必须</span>
								<span ng-if="form.contactMobile.$error.pattern">请输入正确的11位手机号</span>
							</span> <input type="text" class="form-control"
								ng-model="company.contactMobile" ng-pattern="/^\d{11}$/" required name="contactMobile">
						</div>
						<div class="col-sm-4">
							<label>联系人邮箱：<span class="error-info"
								ng-if="(form.contactEmail.$dirty|| submitTried) && form.contactEmail.$invalid ">
									<span ng-if="form.contactEmail.$error.pattern">请输入正确的格式！</span>
							</span></label> <input type="text" class="form-control"
								ng-model="company.contactEmail"
								ng-pattern="/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/"
								name="contactEmail">
						</div>
						<div class="col-sm-12">
							<label>常住地址：</label> <input type="text" class="form-control"
								ng-model="company.contactAddress">
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="back()">取 消</button>
		<button class="btn btn-success" ng-click="save(form.$invalid)">确  定</button>
	</div>
</div>
