<div class="bg-light lter b-b wrapper">
	<h1 class="m-n font-thin h3">出卖方管理</h1>
</div>

<div class="wrapper" ng-controller="SellerController">
	<div class="row">
		<div class="col col-md-12">
			<form name="form" class="form-validation">
				<div class="panel panel-default">
					<div class="panel-body bg-light"
						style="padding: 5px; padding-left: 0px;">
						<div class="col-sm-3">
							<label>出卖方名称</label> <input type="text" class="form-control"
								ng-model="searcher.sellerName">
						</div>
						<div class="col-sm-3">
							<label>类型：</label> 
							<select class="form-control"
								ng-model="searcher.sellerType"
								ng-options="opt.id as opt.name for opt in sellerType">
								<option>
								<option>
							</select>
							<!-- <div class="input-group">	
								  <ui-select ng-model="searcher.sellerType" theme="bootstrap"> 
						            <ui-select-match>{{$select.selected.name}}</ui-select-match>
						            <ui-select-choices  repeat="item.id as item in sellerType | filter: $select.search">
						              <div ng-bind-html="item.name | highlight: $select.search"></div>
						            </ui-select-choices>
						          </ui-select>
								  <span class="input-group-btn">
						              <button ng-click="searcher.sellerType=null;" class="btn btn-default">
						                <span class="glyphicon glyphicon-trash"></span>
						              </button>
						          </span>
								</div> -->
						</div>
						<div class="col-sm-3">
							<label>合作状态：</label> 
							<select class="form-control"
								ng-model="searcher.status"
								ng-options="opt.id as opt.name for opt in statu">
								<option>
								<option>
							</select>
							<!-- <div class="input-group">	
								  <ui-select ng-model="searcher.status" theme="bootstrap"> 
						            <ui-select-match>{{$select.selected.name}}</ui-select-match>
						            <ui-select-choices  repeat="item.id as item in statu | filter: $select.search">
						              <div ng-bind-html="item.name | highlight: $select.search"></div>
						            </ui-select-choices>
						          </ui-select>
								  <span class="input-group-btn">
						              <button ng-click="searcher.status=null;" class="btn btn-default">
						                <span class="glyphicon glyphicon-trash"></span>
						              </button>
						          </span>
								</div> -->
						</div>
						<div class="col-md-1">
							<label>&nbsp;</label>
							 <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="search()"><i class="fa fa-search"></i> 查 询</button>
						</div>
						<div class="col-md-1 col-md-offset-1 pull-right">
							<label>&nbsp;</label>
							<button has-permission="SELLER_CREATE" class="btn btn-success" ng-disabled="form.$invalid" ng-click="create()"><i class="fa fa-plus"></i> 新  建</button> 
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col col-md-12">
			<!-- <div class="panel panel-default"> -->

			<table class="bg-white table table-striped left-table-header"
				ng-table="tableParamsSeller" show-filter="false">
				<thead ng-if="$data.length>0" class="bg-info">
					<tr>
						
						<th>序号</th>
						<th>出卖方简称</th>
						<th>出卖方名称</th>
						<th>法定代表人</th>
						<th>委托代理人</th>
						<th>代理人电话</th>
						<th>传真</th>
						<th>合作状态</th>
						<th has-any-permission="['SELLER_VIEW','SELLER_EDIT','SELLER_FINISH']">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="seller in $data | orderBy:'createTime':1">
						
						<td>{{$index + 1}}</td>
						<td>{{seller.shortName}}</td>
						<td>{{seller.sellerName}}</td>
						<td>{{seller.legalName}}</td>
						<td>{{seller.poaName}}</td>
						<td>{{seller.poaMobile1}}</td>
						<td>{{seller.sellerFax}}</td>
						<td>{{status[seller.status]}}</td>
						<td has-any-permission="['SELLER_VIEW','SELLER_EDIT','SELLER_FINISH']">
							<a has-permission="SELLER_VIEW" style="color:#0099FF" ng-click="view(seller.id)">查看</a>&nbsp; 
							<a has-permission="SELLER_EDIT" style="color:#0099FF" ng-click="edit(seller.id)" >修改</a>&nbsp; 
							<a has-permission="SELLER_FINISH" style="color:#0099FF" ng-show="seller.status==0 && (seller.partnershipExpire>=nowDate || null == seller.partnershipExpire) " ng-click="logicalDel(seller.id)">终止合作</a>
							<span has-permission="SELLER_FINISH" ng-show="seller.status==1 || (seller.partnershipExpire < nowDate && null != seller.partnershipExpire)">合作终止</span>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- </div> -->
		</div>


	</div>