<div ng-controller="editLeasingSchemaController">
    <div class="bg-light lter b-b wrapper">
	  <h1 class="m-n font-thin h3">查看</h1>
	</div>
	<div class="modal-body">
	   <form name="form" class="form-validation"  disable-all="true">
	      <div class="panel panel-default">
	            <div class="panel-heading">
	              <span class="h4">融资租赁方案</span>
	            </div>
	            <div class="panel-body">
					<div class="form-group pull-in clearfix">
		              <div class="col-sm-4">
		                <label>方案名称<span style=" color:red;"> *</span>：</label>
		                <span class="error-info" ng-show="(form.lsName.$dirty || submitTried) && form.lsName.$invalid ">
	                		<span ng-show="form.lsName.$error.required">必须</span>
	                		<span ng-show="form.lsName.$error.maxlength">超出长度范围</span>
	                	</span>
		                <input type="text" class="form-control" ng-model="leasing.name" ng-maxlength="200" required name="lsName"> 
		              </div>
		              <div class="col-sm-4">
						<label>大区：</label> 
						<select class="form-control" ng-model="leasing.largeArea"
						ng-options="opt.id as opt.name for opt in largeAreaTypes"><option></option></select>
					  </div>
					  <div class="col-sm-4">
		                <label>区域：</label>
		                <input type="text" class="form-control" ng-model="leasing.area" ng-maxlength="200">
		              </div>
					  <div class="col-sm-4">
		                <label>业务类型<span style=" color:red;"> *</span>：</label>
		                <span class="error-info" ng-show="(form.businessType.$dirty || submitTried)&& form.businessType.$invalid ">
             				<span ng-show="form.businessType.$error.required">必须</span>
            			</span>
		                <select class="form-control" ng-model="leasing.businessType" required name="businessType"
						ng-options="opt.id as opt.name for opt in businessTypes"><option></option></select>
		              </div>
					  <div class="col-sm-4">
		                <label>租赁物类型<span style=" color:red;"> *</span>：</label>
		                <span class="error-info" ng-show="(form.itemType.$dirty || submitTried)&& form.itemType.$invalid ">
             				<span ng-show="form.itemType.$error.required">必须</span>
            			</span>
		                <select class="form-control" ng-model="leasing.itemType" required name="itemType"
						ng-options="opt.id as opt.name for opt in itemTypes"><option></option></select>
		              </div>
		              <div class="col-sm-4">
		                <label>品牌：</label>
		                <span class="error-info" ng-show="form.itemBrand.$dirty && form.itemBrand.$invalid ">
							<span ng-show="form.itemBrand.$error.maxlength">超出长度范围</span>
						</span>
		                <input type="text" class="form-control" ng-model="leasing.itemBrand" ng-maxlength="200" name="itemBrand">
		              </div>
		              <div class="col-sm-4">
		                <label>型号：</label>
		                <span class="error-info" ng-show="form.itemModel.$dirty && form.itemModel.$invalid ">
							<span ng-show="form.itemModel.$error.maxlength">超出长度范围</span>
						</span>
		                <input type="text" class="form-control" ng-model="leasing.itemModel" ng-maxlength="200" name="itemModel">
		              </div>
		              <div class="col-sm-4">
						<label>出卖方<span style=" color:red;"> *</span>：</label>
						<span class="error-info" ng-show="(form.sellerId.$dirty || submitTried)&& form.sellerId.$invalid ">
             				<span ng-show="form.sellerId.$error.required">必须</span>
            			</span>
						<select class="form-control" ng-model="leasing.sellerId" required name="sellerId"
						ng-options="opt.id as opt.sellerName for opt in sellers"><option></option></select>
					  </div>
		              <div class="col-sm-4">
		                <label>支付方式  ：</label>
		                <select class="form-control" ng-model="leasing.paymentMethod"
		                ng-options="opt.id as opt.name for opt in paymentMethods"><option></option></select>
		              </div>
		              <div class="col-sm-4">
						<label>保证金计算方式 <span style=" color:red;"> *</span>：</label>
						<div>
							<label class="i-checks i-checks-sm"> 
								<input type="radio" ng-model="leasing.depositInputM" ng-change="InputTypeChange(1)" value="1"  ng-disabled="editMode"><i></i>按比例收取 
							</label> 
							<label style="width: 30px;"></label>
							<label class="i-checks i-checks-sm"> 
								<input type="radio" ng-model="leasing.depositInputM" ng-change="InputTypeChange(2)" value="2"   ng-disabled="editMode"><i></i>按金额收取
							</label>
						</div>
					  </div>
		             <div class="col-sm-4">
		                <label>保证金比例 <span style=" color:red;"> *</span>：(单位：%)</label>
		                <span class="error-info" ng-show="(form.depositRatioMin.$dirty || submitTried) && (form.depositRatioMin.$invalid || form.depositRatioMax.$invalid) ">
                		   <span ng-show="form.depositRatioMin.$error.required || form.depositRatioMax.$error.required">必须</span>
                		   <span ng-show="form.depositRatioMin.$error.maxlength || form.depositRatioMax.$error.maxlength">超出长度范围</span>
                		   <span ng-show="form.depositRatioMin.$error.pattern || form.depositRatioMax.$error.pattern">输入错误</span>
                	    </span>
		                <div class="row">
			                <div class="col-md-5">
				               <input type="text" value="5" ng-disabled="leasing.depositInputM==2" ng-maxlength="4" class="form-control" ng-model="leasing.depositRatioMin" ng-required="leasing.depositInputM==1" name="depositRatioMin" ng-pattern="/^[0-9]+(\.[0-9]+)?$/">
				            </div>
				            <div class="col-sm-1">__</div>
			             	<div class="col-md-5">
				               <input type="text" value="5" ng-disabled="leasing.depositInputM==2" ng-maxlength="4" class="form-control" ng-model="leasing.depositRatioMax" ng-required="leasing.depositInputM==1" name="depositRatioMax" ng-pattern="/^[0-9]+(\.[0-9]+)?$/">
				            </div>
			            </div>
		             </div>
		             <div class="col-sm-4">
		                <label>保证金金额<span style=" color:red;"> *</span>：(单位：元)</label>
                	    <span class="error-info" ng-show="(form.depositMin.$dirty || submitTried) && (form.depositMin.$invalid || form.depositMax.$invalid) ">
                		   <span ng-show="form.depositMin.$error.required || form.depositMax.$error.required">必须</span>
                		   <span ng-show="form.depositMin.$error.maxlength || form.depositMax.$error.maxlength">超出长度范围</span>
                		   <span ng-show="form.depositMin.$error.pattern || form.depositMax.$error.pattern">输入错误</span>
                	    </span>
		                <div class="row">
		                	<div class="col-md-5">
				              <input type="text" value="0" ng-disabled="leasing.depositInputM==1" ng-maxlength="11" class="form-control" ng-model="leasing.depositMin | currency:'￥'"  ng-required="leasing.depositInputM==2" name="depositMin" ng-pattern="/^\+?(0|[1-9][0-9]*)$/">
				            </div>
				            <div class="col-sm-1">__</div>
		                	<div class="col-md-5">
				              <input type="text" value="0" ng-disabled="leasing.depositInputM==1" ng-maxlength="11" class="form-control" ng-model="leasing.depositMax | currency:'￥'" ng-required="leasing.depositInputM==2" name="depositMax" ng-pattern="/^\+?(0|[1-9][0-9]*)$/">
				            </div>
			            </div>
		              </div>
		              
		              <div class="col-sm-4">
						<label>首期租金计算方式 <span style=" color:red;"> *</span>：</label>
						<div>
							<label class="i-checks i-checks-sm"> 
								<input type="radio" ng-model="leasing.fpInputM" value="1"  ng-change="InputTypeChange2(1)"  ng-disabled="editMode"><i></i>按比例收取 
							</label> 
							<label style="width: 30px;"></label>
							<label class="i-checks i-checks-sm"> 
								<input type="radio" ng-model="leasing.fpInputM" value="2" ng-change="InputTypeChange2(2)"  ng-disabled="editMode"><i></i>按金额收取
							</label>
						</div>
					  </div>
		              <div class="col-sm-4">
		                <label>首期比例<span style=" color:red;"> *</span>：(单位：%)</label>
		                <span class="error-info" ng-show="(form.firstPayRatioMin.$dirty || submitTried) && (form.firstPayRatioMin.$invalid || form.firstPayRatioMax.$invalid) ">
                		   <span ng-show="form.dfirstPayRatioMin.$error.required || form.firstPayRatioMax.$error.required">必须</span>
                		   <span ng-show="form.firstPayRatioMin.$error.maxlength || form.firstPayRatioMax.$error.maxlength">超出长度范围</span>
                		   <span ng-show="form.firstPayRatioMin.$error.pattern || form.firstPayRatioMax.$error.pattern">输入错误</span>
                	    </span>
		                <div class="row">
			                <div class="col-md-5">
				               <input type="text" value="5" ng-disabled="leasing.fpInputM==2" ng-maxlength="4" class="form-control" ng-model="leasing.firstPayRatioMin" ng-required="leasing.fpInputM==1" name="firstPayRatioMin" ng-pattern="/^[0-9]+(\.[0-9]+)?$/">
				            </div>
				            <div class="col-sm-1">__</div>
			             	<div class="col-md-5">
				               <input type="text" value="5" ng-disabled="leasing.fpInputM==2" ng-maxlength="4" class="form-control" ng-model="leasing.firstPayRatioMax" ng-required="leasing.fpInputM==1" name="firstPayRatioMax" ng-pattern="/^[0-9]+(\.[0-9]+)?$/">
				            </div>
			            </div>
		              </div>
		              <div class="col-sm-4">
		                <label>首期金额<span style=" color:red;"> *</span>：(单位：元)</label>
		                <span class="error-info" ng-show="(form.firstPayMin.$dirty || submitTried) && (form.firstPayMin.$invalid || form.firstPayMax.$invalid) ">
                		   <span ng-show="form.firstPayMin.$error.required || form.firstPayMax.$error.required">必须</span>
                		   <span ng-show="form.firstPayMin.$error.maxlength || form.firstPayMax.$error.maxlength">超出长度范围</span>
                		   <span ng-show="form.firstPayMin.$error.pattern || form.firstPayMax.$error.pattern">输入错误</span>
                	    </span>
		                <div class="row">
		                	<div class="col-md-5">
				              <input type="text" value="0" ng-disabled="leasing.fpInputM==1" ng-maxlength="11" class="form-control" ng-model="leasing.firstPayMin | currency:'￥'" ng-required="leasing.fpInputM==2" name="firstPayMin" ng-pattern="/^\+?(0|[1-9][0-9]*)$/">
				            </div>
				            <div class="col-sm-1">__</div>
		                	<div class="col-md-5">
				              <input type="text" value="0" ng-disabled="leasing.fpInputM==1" ng-maxlength="11" class="form-control" ng-model="leasing.firstPayMax | currency:'￥'" ng-required="leasing.fpInputM==2" name="firstPayMax" ng-pattern="/^\+?(0|[1-9][0-9]*)$/">
				            </div>
			            </div>
		              </div>
		              
		              <div class="col-sm-4">
						<label>手续费计算方式 <span style=" color:red;"> *</span>：</label>
						<div>
							<label class="i-checks i-checks-sm"> 
								<input type="radio" ng-model="leasing.serviceFeeInputM" ng-change="InputTypeChange3(1)" value="1"  ng-disabled="editMode"><i></i>按比例收取 
							</label> 
							<label style="width: 30px;"></label>
							<label class="i-checks i-checks-sm"> 
								<input type="radio" ng-model="leasing.serviceFeeInputM" ng-change="InputTypeChange3(2)" value="2"  ng-disabled="editMode"><i></i>按金额收取
							</label>
						</div>
					  </div>
		              <div class="col-sm-4">
		                <label>手续费比例<span style=" color:red;"> *</span>：(单位：%)</label>
		                <span class="error-info" ng-show="(form.serviceFeeRatioMin.$dirty || submitTried) && (form.serviceFeeRatioMin.$invalid || form.serviceFeeRatioMax.$invalid) ">
                		   <span ng-show="form.serviceFeeRatioMin.$error.required || form.serviceFeeRatioMax.$error.required">必须</span>
                		   <span ng-show="form.serviceFeeRatioMin.$error.maxlength || form.serviceFeeRatioMax.$error.maxlength">超出长度范围</span>
                		   <span ng-show="form.serviceFeeRatioMin.$error.pattern || form.serviceFeeRatioMax.$error.pattern">输入错误</span>
                	    </span>
		                <div class="row">
			                <div class="col-md-5">
				               <input type="text" value="5" ng-disabled="leasing.serviceFeeInputM==2" ng-maxlength="4" class="form-control" ng-model="leasing.serviceFeeRatioMin" ng-required="leasing.serviceFeeInputM==1" name="serviceFeeRatioMin" ng-pattern="/^[0-9]+(\.[0-9]+)?$/">
				            </div>
				            <div class="col-sm-1">__</div>
			             	<div class="col-md-5">
				               <input type="text" value="5" ng-disabled="leasing.serviceFeeInputM==2" ng-maxlength="4" class="form-control" ng-model="leasing.serviceFeeRatioMax" ng-required="leasing.serviceFeeInputM==1" name="serviceFeeRatioMax" ng-pattern="/^[0-9]+(\.[0-9]+)?$/">
				            </div>
			            </div>
		              </div>
		              <div class="col-sm-4">
		                <label>手续费金额<span style=" color:red;"> *</span>：(单位：元)</label>
		                <span class="error-info" ng-show="(form.serviceFeeMin.$dirty || submitTried) && (form.serviceFeeMin.$invalid || form.serviceFeeMax.$invalid) ">
                		   <span ng-show="form.serviceFeeMin.$error.required || form.serviceFeeMax.$error.required">必须</span>
                		   <span ng-show="form.serviceFeeMin.$error.maxlength || form.serviceFeeMax.$error.maxlength">超出长度范围</span>
                		   <span ng-show="form.serviceFeeMin.$error.pattern || form.serviceFeeMax.$error.pattern">输入错误</span>
                	    </span>
		                <div class="row">
		                	<div class="col-md-5">
				              <input type="text" value="0" ng-disabled="leasing.serviceFeeInputM==1" ng-maxlength="11" class="form-control" ng-model="leasing.serviceFeeMin | currency:'￥'" ng-required="leasing.serviceFeeInputM==2" name="serviceFeeMin" ng-pattern="/^\+?(0|[1-9][0-9]*)$/">
				            </div>
				            <div class="col-sm-1">__</div>
		                	<div class="col-md-5">
				              <input type="text" value="0" ng-disabled="leasing.serviceFeeInputM==1" ng-maxlength="11" class="form-control" ng-model="leasing.serviceFeeMax | currency:'￥'" ng-required="leasing.serviceFeeInputM==2" name="serviceFeeMax" ng-pattern="/^\+?(0|[1-9][0-9]*)$/">
				            </div>
			            </div>
		              </div>
		              <div class="col-sm-4">
						<label>利率方式 <span style=" color:red;"> *</span>：</label>
						<div>
							<label class="i-checks i-checks-sm"> 
								<input type="radio" ng-model="leasing.interestSetting" ng-change="InputTypeChange4(1)" value="1"  ng-disabled="editMode"><i></i>固定利率
							</label> 
							<label style="width: 45px;"></label>
							<label class="i-checks i-checks-sm"> 
								<input type="radio" ng-model="leasing.interestSetting" ng-change="InputTypeChange4(2)" value="2"  ng-disabled="editMode"><i></i>浮动利率
							</label>
						</div>
					  </div>
		              <div class="col-sm-4">
		                <label>利率值<span style=" color:red;"> *</span>：(单位：%)</label>
		                <span class="error-info" ng-show="(form.interestMin.$dirty || submitTried) && (form.interestMin.$invalid || form.interestMax.$invalid) ">
                		   <span ng-show="form.interestMin.$error.required || form.interestMax.$error.required">必须</span>
                		   <span ng-show="form.interestMin.$error.maxlength || form.interestMax.$error.maxlength">超出长度范围</span>
                		   <span ng-show="form.interestMin.$error.pattern || form.interestMax.$error.pattern">输入错误</span>
                	    </span>
		                <div class="row">
			                <div class="col-md-5">
				               <input type="text" value="5" ng-disabled="leasing.interestSetting==2" ng-maxlength="4" class="form-control" ng-model="leasing.interestMin" ng-required="leasing.interestSetting==1" name="interestMin" ng-pattern="/^[0-9]+(\.[0-9]+)?$/">
				            </div>
				            <div class="col-sm-1">__</div>
			             	<div class="col-md-5">
				               <input type="text" value="5" ng-disabled="leasing.interestSetting==2" ng-maxlength="4" class="form-control" ng-model="leasing.interestMax" ng-required="leasing.interestSetting==1" name="interestMax" ng-pattern="/^[0-9]+(\.[0-9]+)?$/">
				            </div>
			            </div>
		              </div>
		              <div class="col-sm-4">
		                <label>利率浮动比例 <span style=" color:red;"> *</span>：(单位：%)</label>
		                <span class="error-info" ng-show="(form.floatInterestRatioMin.$dirty || submitTried) && (form.floatInterestRatioMin.$invalid || form.floatInterestRatioMax.$invalid) ">
                		   <span ng-show="form.floatInterestRatioMin.$error.required || form.floatInterestRatioMax.$error.required">必须</span>
                		   <span ng-show="form.floatInterestRatioMin.$error.maxlength || form.floatInterestRatioMax.$error.maxlength">超出长度范围</span>
                		   <span ng-show="form.floatInterestRatioMin.$error.pattern || form.floatInterestRatioMax.$error.pattern">输入错误</span>
                	    </span>
		                <div class="row">
			                <div class="col-md-5">
				               <input type="text" value="5" ng-disabled="leasing.interestSetting==1" ng-maxlength="4" class="form-control" ng-model="leasing.floatInterestRatioMin" ng-required="leasing.interestSetting==2" name="floatInterestRatioMin" ng-pattern="/^[0-9]+(\.[0-9]+)?$/">
				            </div>
				            <div class="col-sm-1">__</div>
			             	<div class="col-md-5">
				               <input type="text" value="5" ng-disabled="leasing.interestSetting==1" ng-maxlength="4" class="form-control" ng-model="leasing.floatInterestRatioMax" ng-required="leasing.interestSetting==2" name="floatInterestRatioMax" ng-pattern="/^[0-9]+(\.[0-9]+)?$/">
				            </div>
			            </div>
		              </div>
		              <div class="col-sm-4">
		                <label>租赁期数 <span style=" color:red;"> *</span>：</label>
		                <span class="error-info" ng-show="(form.leasePeriodMin.$dirty || submitTried) && (form.leasePeriodMin.$invalid || form.leasePeriodMax.$invalid) ">
                		   <span ng-show="form.leasePeriodMin.$error.required || form.leasePeriodMax.$error.required">必须</span>
                		   <span ng-show="form.leasePeriodMin.$error.maxlength || form.leasePeriodMax.$error.maxlength">超出长度范围</span>
                		   <span ng-show="form.leasePeriodMin.$error.pattern || form.leasePeriodMax.$error.pattern">输入错误</span>
                	    </span>
		                <div class="row">
			                <div class="col-md-5">
				              <input type="text" value="0" class="form-control" ng-model="leasing.leasePeriodMin" ng-maxlength="4" required  name="leasePeriodMin" ng-pattern="/^\+?(0|[1-9][0-9]*)$/">
				            </div>
				           <div class="col-sm-1">__</div>
			                <div class="col-md-5">
				              <input type="text" value="36" class="form-control" ng-model="leasing.leasePeriodMax" ng-maxlength="4" required  name="leasePeriodMax" ng-pattern="/^\+?(0|[1-9][0-9]*)$/">
				            </div>
			            </div>
		              </div>
		              <div class="col-sm-4">
		                <label>租赁周期<span style=" color:red;"> *</span>：</label>
		                <span class="error-info" ng-show="(form.leaseCycle.$dirty || submitTried)&& form.leaseCycle.$invalid ">
             				<span ng-show="form.leaseCycle.$error.required">必须</span>
            			</span>
		                <select class="form-control" ng-model="leasing.leaseCycle" required name="leaseCycle"
		                ng-options="opt.id as opt.name for opt in leaseCycles"><option></option></select>
		              </div> 
		              <div class="col-sm-4">
		                <label>保证金处理方式 <span style=" color:red;"> *</span>：</label>
		                <span class="error-info" ng-show="(form.depositRule.$dirty || submitTried)&& form.depositRule.$invalid ">
             				<span ng-show="form.depositRule.$error.required">必须</span>
            			</span>
		                <select class="form-control" ng-model="leasing.depositRule" required name="depositRule"
		                ng-options="opt.id as opt.name for opt in depositRules"><option></option></select>
		              </div>
		              <div class="col-sm-4">
		                <label>担保人必须 <span style=" color:red;"> *</span>：</label>
		                <span class="error-info" ng-show="(form.sponsorRequired.$dirty || submitTried)&& form.sponsorRequired.$invalid ">
             				<span ng-show="form.sponsorRequired.$error.required">必须</span>
            			</span>
		                <select class="form-control" ng-model="leasing.sponsorRequired" required name="sponsorRequired"
		                ng-options="opt.id as opt.name for opt in sponsorRequireds"><option></option></select>
		              </div>
		              <div class="col-sm-4">
		                <label>试算方式 <span style=" color:red;"> *</span>：</label>
		                <span class="error-info" ng-show="(form.calculateRule.$dirty || submitTried)&& form.calculateRule.$invalid ">
             				<span ng-show="form.calculateRule.$error.required">必须</span>
            			</span>
		                <select class="form-control" ng-model="leasing.calculateRule" required name="calculateRule"
		                ng-options="opt.id as opt.name for opt in calculateRules"><option></option></select>
		              </div>
		              <div class="col-sm-4">
		                <label>留购价 <span style=" color:red;"> *</span>：(单位：元)</label>
		                <span class="error-info" ng-show="(form.retentionPrice.$dirty || submitTried)&& form.retentionPrice.$invalid ">
             				<span ng-show="form.retentionPrice.$error.required">必须</span>
             				<span ng-show="form.retentionPrice.$error.maxlength">超出长度范围</span>
                		    <span ng-show="form.retentionPrice.$error.pattern">输入错误</span>
            			</span>
		                <div class="m-b-4">
			              <input type="text" value="0" class="form-control" ng-maxlength="11" ng-model="leasing.retentionPrice | currency:'￥'" required name="retentionPrice" ng-pattern="/^[0-9]+(\.[0-9]+)?$/">
			            </div>
		              </div>
		              <div class="col-sm-4">
		                <label>放款规则  ：</label>
		                <select class="form-control" ng-model="leasing.loanRule"
		                ng-options="opt.id as opt.name for opt in loanRules"><option></option></select>
		              </div>
		              <div class="col-sm-4">
		                <label>期满处理方式  ：</label>
		                <select class="form-control" ng-model="leasing.endingRule"
		                ng-options="opt.id as opt.name for opt in endingRules"><option></option></select>
		              </div>
		              <div class="col-sm-4">
		                <label>融资额 ：(单位：元)</label>
		                <span class="error-info" ng-show="(form.discountAmountMin.$dirty && form.discountAmountMin.$invalid)||(form.discountAmountMax.$dirty && form.discountAmountMax.$invalid) ">
						   <span ng-show="form.discountAmountMin.$error.maxlength || form.discountAmountMax.$error.maxlength">超出长度范围</span>
                		   <span ng-show="form.discountAmountMin.$error.pattern || form.discountAmountMax.$error.pattern">输入错误</span>
						</span>
		                <div class="row">
			                <div class="col-md-5">
				              <input type="text" value="0" class="form-control" ng-model="leasing.discountAmountMin | currency:'￥'" ng-maxlength="11" name="discountAmountMin" ng-pattern="/^[0-9]+(\.[0-9]+)?$/">
				            </div>
				            <div class="col-sm-1">__</div>
			                <div class="col-md-5">
				              <input type="text" value="0" class="form-control" ng-model="leasing.discountAmountMax | currency:'￥'" ng-maxlength="11" name="discountAmountMax" ng-pattern="/^[0-9]+(\.[0-9]+)?$/">
				            </div>
			            </div>
		              </div>
					</div>
	            </div>
	      </div>
	      
	      <!-- 费率配置 begin-->
	      <div class="panel panel-default">
			<div class="panel-heading" style="padding: 2px 5px;">
	          	<button class="btn m-b-xs w-xs btn-info btn-other" ng-click="createFee()"><i class="fa fa-plus"></i>&nbsp;费率配置&nbsp;&nbsp;<span style=" color:red;"> *</span></button>
         		<span class="error-info" ng-show="(form.schFee.$dirty || submitTried)&& form.schFee.$invalid ">
             		<span ng-show="form.schFee.$error.required">必须</span>
            	</span>
				<input type="hidden" ng-model="schFee" ng-required="tableFeeData.length==0" name="schFee">
			</div>
            <div class="panel-body">
	      		<div class="form-group pull-in clearfix">
	              <div class="col-sm-12">
	                <div class="panel panel-default padding_top10">
	                   <div class="table-responsive">
	                     <table class="table table-striped b-link">
	                         <thead ng-if="tableFeeData.length>0" ng-table="tableParamsFee">
					           <tr>
					          	  <th>No.</th>
								  <th>租赁期限起始(月)</th>
								  <th>租赁期限结束(月)</th>
						          <th>管理费</th>
								  <!-- <th>操作</th> -->
					           </tr>
					         </thead>
	                          <tbody>
	                            <tr ng-repeat="leasingFee in tableFeeData">
								  <td>{{$index+1}}</td>
								  <td>{{leasingFee.startMonth}}</td>
						          <td>{{leasingFee.endMonth}}</td>
								  <td>{{leasingFee.maintenanceFee | currency:'￥'}}</td>
								  <!-- <td>
								  	 <a style="color:#0099FF" ng-click="editFee({{leasingFee}},$index)">修改</a>&nbsp;
									 <a style="color:#0099FF" ng-click="logicalDelFee({{leasingFee}},$index)">删除</a>
								  </td> -->
					           </tr>
	                          </tbody>
	                      </table>
	                 	</div>
	     		 	 </div>
	           		</div>
	            </div>
		    </div>	
		  </div>
		  <!-- 费率配置 end-->
		
	   </form>
	</div>
	
	<div class="modal-footer">                  
	    <button class="btn btn-default" ng-click="back()">返  回</button>
	    <!-- ng-disabled="form.$invalid" -->
	</div>
</div>


