<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="all" type="text/css" href="app.css" />
<link rel="stylesheet" media="all" type="text/css" href="layout.css" />
<script src="angular.js"></script>
</head>
<body ng-app="" ng-init="name='David Mu'">

    <div class="header">
        <p>这是Header，请根据需要更改</p>
    </div>

    <div class="footer" >
        <p>Page <span id="pagenumber"></span> of <span id="pagecount"></span></p>
    </div>
 

	<div class="content">
		<h1 class="text-success text-center" th:text="${message}">欢迎来到PDF测试页面</h1>
		Hello, {{name}}
		<img src="Desert.jpg" width="400px" height="400px" alt="Desert" />
	</div>	
	
	<div class="content">
	Render by Thymeleaf below:
		<table class="table table-striped">
		  <tbody>
			<tr class="text-primary text-lg bg-primary" >  
		    	<td>No.</td>
				<td>登录名</td>
				<td>真实名</td>
				<td>手机号</td>
				<td>电子邮件</td>
			</tr>
			<div th:each="item,itemStat : ${users}" th:remove="tag">
				<tr>
					<td th:text="${itemStat.count}"></td>
					<td th:text="${item.username}"></td>
					<td th:text="${item.realname}"></td>
					<td th:text="${item.mobile}"></td>
					<td th:text="${item.email}"></td>
				</tr>
<!-- 				<tr>
					<td>No.</td>
					<td>登录名</td>
					<td>真实名</td>
					<td>手机号</td>
					<td>电子邮件</td>
				</tr> -->
			</div>
		  </tbody>
		</table>
	</div>
 
<!--     <div class="content">
	 	<div>
			<h1 class="text-primary text-center">欢迎来到PDF测试页面</h1>
			<p>下面的内容是动态的，由Java代码注入的哦</p>
			<h2 class="text-success" th:text="${message}"></h2>
		</div>
	
		<div id="dataPage" class="with-break">
			<h2>图片演示页面</h2>
			<p>下面是图片哦</p>
			<img src="Desert.jpg" width="400px" height="400px" alt="Desert" />
		</div> 
    </div>

     <div class="content">
        <p>This is the content</p><p>This is the content</p><p>This is the content</p>
        <p>This is the content</p><p>This is the content</p><p>This is the content</p>
        <p>This is the content</p><p>This is the content</p><p>This is the content</p>
        <p>This is the content</p><p>This is the content</p><p>This is the content</p>
        <p>This is the content</p><p>This is the content</p><p>This is the content</p>
        <p>This is the content</p><p>This is the content</p><p>This is the content</p>
        <p>This is the content</p><p>This is the content</p><p>This is the content</p>
        <p>This is the content</p><p>This is the content</p><p>This is the content</p>
        <p>This is the content</p><p>This is the content</p><p>This is the content</p>
        <p>This is the content</p><p>This is the content</p><p>This is the content</p>
        <p>This is the content</p><p>This is the content</p><p>This is the content</p>
        <p>This is the content</p><p>This is the content</p><p>This is the content</p>
        <p>This is the content</p><p>This is the content</p><p>This is the content</p>
    </div> -->

</body>
</html>