<!--
<div class="modal-header">
    <h3 class="modal-title">添加节点</h3>
</div>
-->
<div class="modal-body ">
        <form name="form" class="form-validation">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="h4">{{title}}</span>
            </div>
            <div class="panel-body">
			<div class="form-group pull-in clearfix">
		         
		     <div class="col-sm-6" disable-all="eidtMode">
		          <label>时间<span style="color:red;"> *</span>：</label>
                <span class="error-info" ng-if="form.interestDate.$dirty && form.interestDate.$invalid ">
                	<span ng-if="form.interestDate.$error.required">必须</span>
                </span>		          
		            <div class="input-group m-d">
		              <input type="text" class="form-control" datepicker-popup="{{format}}"
		                     ng-model="interest.interestDate" is-open="interestDate" 
		                     datepicker-options="dateOptions" ng-required="true" name="interestDate" close-text="Close"/>
		              <span class="input-group-btn">
		              <button type="button" class="btn btn-default" ng-click="openDatepicker($event,0)"><i class="glyphicon glyphicon-calendar"></i></button>
		            </span>
		         </div>
		      </div>

              <div class="col-sm-6">
                <label>半年<span style="color:red;"> *</span>：<font size="0.5px" color="#7d7d8e">(单位:%)</font></label>
                <span class="error-info" ng-if="form.halfYear.$dirty && form.halfYear.$invalid ">
                	<span ng-if="form.halfYear.$error.required">必须</span>
                	<span ng-if="form.halfYear.$error.pattern">格式：xx.xx</span>
                </span>
                <input type="text" class="form-control" ng-model="interest.halfYear" ng-pattern="/^(\d{0,2})(\.\d{0,2})?$/" required name="halfYear">
              </div>

              <div class="col-sm-6">
                <label>一年<span style="color:red;"> *</span>：<font size="0.5px" color="#7d7d8e">(单位:%)</font></label>
                <span class="error-info" ng-if="form.oneYear.$dirty && form.oneYear.$invalid ">
                	<span ng-if="form.oneYear.$error.required">必须</span>
                	<span ng-if="form.oneYear.$error.pattern">格式：xx.xx</span>
                </span>
                <input type="text" class="form-control" ng-model="interest.oneYear" ng-pattern="/^(\d{0,2})(\.\d{0,2})?$/" required name="oneYear">
              </div>
 
              <div class="col-sm-6">
                <label>三年<span style="color:red;"> *</span>：<font size="0.5px" color="#7d7d8e">(单位:%)</font></label>
                <span class="error-info" ng-if="form.threeYear.$dirty && form.threeYear.$invalid ">
                	<span ng-if="form.threeYear.$error.required">必须</span>
                	<span ng-if="form.threeYear.$error.pattern">格式：xx.xx</span>
                </span>
                <input type="text" class="form-control" ng-model="interest.threeYear" ng-pattern="/^(\d{0,2})(\.\d{0,2})?$/" required name="threeYear">
              </div>

              <div class="col-sm-6">
                <label>五年<span style="color:red;"> *</span>：<font size="0.5px" color="#7d7d8e">(单位:%)</font></label>
                <span class="error-info" ng-if="form.fiveYear.$dirty && form.fiveYear.$invalid ">
                	<span ng-if="form.fiveYear.$error.required">必须</span>
                	<span ng-if="form.fiveYear.$error.pattern">格式：xx.xx</span>
                </span>
                <input type="text" class="form-control" ng-model="interest.fiveYear" ng-pattern="/^(\d{0,2})(\.\d{0,2})?$/" required name="fiveYear">
              </div>
                            
              <div class="col-sm-6">
                <label>五年以上<span style="color:red;"> *</span>：<font size="0.5px" color="#7d7d8e">(单位:%)</font></label>
                <span class="error-info" ng-if="form.fiveYearAbove.$dirty && form.fiveYearAbove.$invalid ">
                	<span ng-if="form.fiveYearAbove.$error.required">必须</span>
                	<span ng-if="form.fiveYearAbove.$error.pattern">格式：xx.xx</span>
                </span>
                <input type="text" class="form-control" ng-model="interest.fiveYearAbove" ng-pattern="/^(\d{0,2})(\.\d{0,2})?$/" required name="fiveYearAbove">
              </div>
              
              <div class="col-sm-6">
                <label>备注：</label>
                <input type="text" class="form-control" ng-model="interest.notes"> 
              </div>

			</div>
            </div>
          </div>
        </form>

</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">取 消</button>
    <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()">确 定</button>
</div>