<!--
<div class="modal-header">
    <h3 class="modal-title">添加节点</h3>
</div>
-->
<div class="modal-body ">
        <form name="form" class="form-validation">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="h4">修改</span>
            </div>
            <div class="panel-body">
			<div class="form-group pull-in clearfix">
			  <div class="col-sm-6">
                <label>银行名称<span style="color:red;"> *</span>：</label>
                <input type="text" class="form-control" ng-model="bankAccount.bankName" readonly="true" >
              </div>
			  
			  <div class="col-sm-6">
                <label>银行编号<span style="color:red;"> *</span>：</label>
                <input type="text" class="form-control" ng-model="bankAccount.bankCode" readonly="true" >
              </div>
              
		      <div class="col-sm-6">
				   <label>开户公司<span style="color:red;"> *</span>：</label>
				   <select class="form-control" ng-model="bankAccount.companyId"
						   ng-options="opt.id as opt.name for opt in companies" required disabled="true">
						   <option></option>
				   </select>
			  </div>
              
              <div class="col-sm-6">
                <label>开户人：</label>
                <input type="text" class="form-control" ng-model="bankAccount.accountName" readonly="true" >
              </div>
              <div class="col-sm-6">
                <label>开户人电话：</label>
                <input type="text" class="form-control" ng-model="bankAccount.phone" readonly="true" >
              </div>
              <div class="col-sm-6">
                <label>账号类型：</label>
                  <select class="form-control" ng-model="bankAccount.accountType"
					ng-options="opt.id as opt.name for opt in accountTypes" disabled="true">
					<option></option>
				  </select>
              </div>
              <div class="col-sm-6">
                <label>账号：</label>
                <input type="text" class="form-control" ng-model="bankAccount.account" readonly="true" > 
              </div>
              <div class="col-sm-6">
                <label>账号别名：</label>
                <input type="text" class="form-control" ng-model="bankAccount.accountAlias">
              </div>
              <div class="col-sm-6">
                <label>备注：</label>
                <input type="text" class="form-control" ng-model="bankAccount.notes">
                <input type="text" ng-model="bankAccount.bankId" style="display: none;"/>
                <input type="text" ng-model="bankAccount.companyId" style="display: none;"/>
              </div>
			</div>
            </div>
          </div>
        </form>

</div>
<div class="modal-footer"> 
    <button class="btn btn-default" ng-click="cancel()">取 消</button>
    <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()">确   定</button> 
</div>