<div class="bg-light lter b-b wrapper">
	<h1 class="m-n font-thin h3">利率配置</h1>
</div>

<div class="wrapper" ng-controller="InterestController">
	<div class="row">
		<div class="col col-md-12">
			<form name="form" class="form-validation">
				<div class="panel panel-default">
					<div class="panel-body bg-light" style="padding:5px;padding-left:0px;">
						<div class="col-md-offset-4 pull-right">
							<label>&nbsp;</label>
							<button has-permission="INTEREST_CREATE" class="btn btn-success" ng-disabled="form.$invalid" ng-click="create()"><i class="fa fa-plus"></i> 新  建</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

		<div class="row">
			<div class="col col-md-12">
				<!-- <div class="panel panel-default"> -->

				<table class="bg-white table table-striped left-table-header"
					ng-table="tableParamsInterest" show-filter="false">
					<thead ng-if="$data.length>0" class="bg-info">
						<tr>
							<th>时间</th>
							<th>半年</th>
							<th>一年</th>
							<th>三年</th>
							<th>五年</th>
							<th>五年以上</th>
							<th>备注</th>
							<th>创建者</th>
							<th has-any-permission="['INTEREST_VIEW','INTEREST_EDIT','INTEREST_DELETE']">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="interest in $data | orderBy:'interestDate':1">
							<td>{{interest.interestDate | date:'yyyy-MM-dd'}}</td>
							<td>{{interest.halfYear}}%</td>
							<td>{{interest.oneYear}}%</td>
							<td>{{interest.threeYear}}%</td>
							<td>{{interest.fiveYear}}%</td>
							<td>{{interest.fiveYearAbove}}%</td>
							<td>{{interest.notes}}</td>
							<td>{{userNames[interest.creator]}}</td>
							<td has-any-permission="['INTEREST_VIEW','INTEREST_EDIT','INTEREST_DELETE']">
							    <a has-permission="INTEREST_VIEW" style="color:#0099FF" ng-click="view({{interest}})">查看</a>&nbsp;
							    <a has-permission="INTEREST_EDIT" style="color:#0099FF" ng-click="edit({{interest}})">修改</a>&nbsp; 
                                <a has-permission="INTEREST_DELETE" style="color:#0099FF" ng-click="logicalDel({{interest}})">删除</a>
                            </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
</div>