<div class="wrapper" ng-controller="BankAccountController">
<div class="modal-body ">
        <form name="form" class="form-validation">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="h4">查看</span>
            </div>
            <div class="panel-body">
			<div class="form-group pull-in clearfix">
			
              <div class="col-sm-6">
                <label>银行名称<span style="color:red;"> *</span>：</label>
                <input type="text" class="form-control" ng-model="bankAccount.bankName" readonly="true" > 
              </div>
              
              <div class="col-sm-6">
                <label>银行编号<span style="color:red;"> *</span>：</label>
                <input type="text" class="form-control" ng-model="bankAccount.bankCode" readonly="true" > 
              </div>
              
              <div class="col-sm-6">
                <label>开户公司<span style="color:red;"> *</span>：</label>
                <input type="text" class="form-control" ng-model="bankAccount.name" readonly="true" >
              </div>
              
              <div class="col-sm-6">
                <label>开户人：</label>
                <input type="text" class="form-control" ng-model="bankAccount.accountName" readonly="true" >
              </div>
              
              <div class="col-sm-6">
                <label>开户人电话：</label>
                <input type="text" class="form-control" ng-model="bankAccount.phone" readonly="true" >
              </div>
            <!--   value="{{accountTypes[bankAccount.accountType]}}"  -->
              <div class="col-sm-6">
                <label>账号类型：</label>
                  <select class="form-control" ng-model="bankAccount.accountType" readonly="true"
					ng-options="opt.id as opt.name for opt in accountType">
				  </select>
              </div>
              
              <div class="col-sm-6">
                <label>账号：</label>
                <input type="text" class="form-control" ng-model="bankAccount.account" readonly="true" >
              </div>
              
              <div class="col-sm-6">
                <label>账号别名：</label>
                <input type="text" class="form-control" ng-model="bankAccount.accountAlias" readonly="true" >
              </div>
              
              <div class="col-sm-6">
                <label>备注：</label>
                <input type="text" class="form-control" ng-model="bankAccount.notes" readonly="true" >
              </div>

			</div>
            </div>
          </div>
        </form>

</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">返  回</button>
</div>