<!--
<div class="modal-header">
    <h3 class="modal-title">添加节点</h3>
</div>
-->
<div class="modal-body "  >
	<form name="form" class="form-validation">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="h4">{{title}}</span>
			</div>
			<div class="panel-body" disable-all="true">
				<div class="form-group pull-in clearfix">
				<div class="col-sm-6">
						<label>银行名称<span style="color: red;"> *</span>：</label> <input type="text" class="form-control"
							ng-model="bank.bankName" ng-readonly="true">
					</div>
					<div class="col-sm-6">
						<label>银行编号<span style="color: red;"> *</span>：</label> <input type="text" class="form-control"
							ng-model="bank.bankCode" ng-readonly="true">
					</div>
					<div class="col-sm-6">
						<label>联系人 <span style="color: red;"> *</span>： </span></label> <input type="text" class="form-control"
							ng-model="bank.contactName" ng-readonly="true">
					</div>
					<div class="col-sm-6">
						<label>联系人电话<span style="color: red;"> *</span>： </span></label> <input type="text" class="form-control"
							ng-model="bank.contactPhone" ng-readonly="true">
					</div>
				     <div class="col-sm-6">
                <label>银行类型<span style="color: red;"> *</span>： </span></label>
                <!-- <input type="text" class="form-control" ng-model="bank.bankType" required >  -->
                  <select class="form-control" ng-model="bank.bankType" 
					ng-options="opt.id as opt.name for opt in bankTypesss">
					  <option></option>
				  </select>
				
              </div>
					<div class="col-sm-6">
						<label>银行地址：</label> <input type="text" class="form-control"
							ng-model="bank.bankAddress" ng-readonly="true">
					</div>
					
					<div class="col-sm-6">
						<label>备注信息：</label> <input type="text" class="form-control"
							ng-model="bank.notes" ng-readonly="true">
					</div>
					</div>
						</div>
			</div>
		</div>
	</form>

</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">返 回</button>
</div>